.grijsblauw {
  color: #31698a;
}
.grijszwart {
  color: #2a4b5a;
}
.oker {
  background-color: #ffc107;
}
.krul-letters {
  font-family: 'Dancing Script', cursive;
}
.lettergrootte-40 {
  font-size: 40px;
}
.lettergrootte-28 {
  font-size: 28px;
}
